.bordeCardD{
    display: flex;
    border: 5px solid blueviolet;
    width: 1000px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.cardD {
    display: grid;
    justify-items: center;
    border: 2px solid black;
    border-radius: 10px;
    height: 500px;
    gap: 3px;
    text-align: center;
    align-items: center;
    align-content:space-evenly ;
}

.imagenD{
    display: grid;
    justify-items: center;
    width: 600px;
    height: 500px;
    text-align: center;
    max-width: 50%;
}

.cardD p{
    text-transform: uppercase;
    font-weight: bold;
}