.cards {
    display: grid;
    justify-items: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    gap: 3px;
    text-align: center;
}

.cards p{
    text-transform: uppercase;
    font-weight: bold;
}

.imagen{
    max-width: 30%;
}